

.livraison{
    flex-direction: column;
    padding: 20px 10%;
}


.prix{
    flex-direction: column;

}

.livraison{
    flex-direction: column;

} 

@media (max-width: 700px) {
    .livraison{
        flex-direction: column;
        padding: 20px 3%;
    }
}